extends ../layout

block content
    a.btn.btn-success(href='/bicicletas/create') Nueva bicicleta
    br
    br
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicación
                th(scope='col')

        tbody
            each bici in bicis
                tr
                    td(scope='row')= bici.bicicletaID
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        a.btn.btn-warning(href='bicicletas/' + bici._id + '/update') Actualizar
                    td
                        form.inline(method='post' action='bicicletas/delete')
                            input(type='hidden' name='_id' value=bici._id)
                            button.link-button(type='submit' class='btn btn-danger')
                                ='Eliminar'
